<% content_for :all_words_css do %>
    <%= stylesheet_link_tag 'all_words' %>
<% end %>
<div class="links-area">
  <%= link_to 'all words', words_path %>
  <%= link_to 'add new', new_word_path %>
</div>
<div class="center">
  <p id="content"></p>
  <button id="generator">Create</button>
</div>
<div id="preload"></div>
<%= javascript_include_tag "words" %>
