<% content_for :all_words_css do %>
    <%= stylesheet_link_tag 'all_words' %>
<% end %>

<div class="center">
  <p id="content"></p>
  <button id="generator">Create</button>
</div>
<div id="preload"></div>
<%= javascript_include_tag "words" %>
