html, body {
  height: 100%;
}

body {
  display: flex;
  text-align: center;
  background: url('/assets/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  font-family: helvetica;
  transition: background 300ms ease-in 200ms;
  margin: 0;
  padding: 0;
  position: relative;
}

.links-area {
  position: absolute;
  left: 3em;
  top: 1em;
}

.links-area a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  color: #ffffff;
}

.bg-img {
  background-size: contain;
}

.center {
  margin: auto;
}

#content {
  height: 3.5em;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
}

button {
  background: #f26c4e;
  font-size: 1.125em;
  color: #ffffff;
  border: 0;
  width: 140px;
  height: 40px;
  outline: none;
}

button:hover {
  background: #fd8a70;
}


@media (max-width: 737px) {
  #content {
    height: 4.5em;
  }
}

@media (max-width: 500px) {
  #content {
    height: 7em;
  }
}
