h3 {
  color: #a7a7a7;
  font: 20px Helvetica;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  color: #a7a7a7;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

a:hover {
  color: rgb(206, 206, 206);
}

/*a:hover {
  color:
}*/

.words-form-wrapper {
  font: 18px Helvetica, Arial, sans-serif;
  width: 19%;
  margin: 0px auto;
}

.words-form {
  border-bottom: 1px solid #a7a7a7;
}

.words-form input {
  font: 18px Helvetica, Arial, sans-serif;
  display: block;
  border: 1px solid #cecece;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.words-form select {
  font: 18px Helvetica, Arial, sans-serif;
  border: 1px solid #cecece;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.words-form input[type="submit"] {
  background: #f26c4e;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  color: #fff;
  padding: 12px 40px;
  outline: none;
}
.words-form input[type="submit"]:hover {
  background: #fd8a70;
}

.words-list-wrapper {
  width: 50%;
  margin: 0 auto;
}

.word-add-new {
  display: block;
}

.words-nouns {
  float: left;
  width: 50%;
}

.words-adjectives {
  float: left;
  width: 50%;
}
