h3 {
  color: #a7a7a7;
  font: 20px Helvetica;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.words-form {
  margin: 40px auto;
}

.words-form input {
  font: 18px Helvetica, Arial, sans-serif;

  display: block;
  border: 1px solid #cecece;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.words-form input[type="submit"] {
  background: #f26c4e;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  color: #fff;
  padding: 16px 40px;
  outline: none;
}
.words-form input[type="submit"]:hover {
  background: #fd8a70;
}

.word-edit {
  width: 20%;
  margin: 0px auto;
}
